# Optimisation 1. Increasing the number of layers

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
import tensorflow.keras as keras

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("../Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'], axis=1)
application_df

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1
...,...,...,...,...,...,...,...,...,...,...
34294,T4,Independent,C1000,ProductDev,Association,1,0,N,5000,0
34295,T4,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
34296,T3,CompanySponsored,C2000,Preservation,Association,1,0,N,5000,0
34297,T5,Independent,C3000,ProductDev,Association,1,0,N,5000,1
34298,T3,Independent,C1000,Preservation,Co-operative,1,1M-5M,N,36500179,0

In [3]:
# Look at APPLICATION_TYPE value counts for droping unwanted values
app_counts = application_df['APPLICATION_TYPE'].value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [4]:
# Reducing the noise eliminating outliers
application_types_to_drop = list(app_counts[app_counts<500].index) 

application_types_to_drop

['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

In [5]:
# dropping outliers in DataFrame for APPLICATION_TYPE

df2 = pd.DataFrame({'d': application_types_to_drop})

for a in application_df.APPLICATION_TYPE.index:
    for search in df2.d:
        if search in application_df.loc[a].APPLICATION_TYPE:
            application_df.drop(a, inplace=True)
            break  # so if we already dropped it we no longer look whether we should drop this line

In [6]:
application_df['APPLICATION_TYPE'].value_counts()

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
Name: APPLICATION_TYPE, dtype: int64

In [7]:
class_counts = application_df['CLASSIFICATION'].value_counts()
class_counts

C1000    17081
C2000     6045
C1200     4836
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [8]:
classifications_to_drop = list(class_counts[class_counts<1000].index)

In [9]:
# dropping outliers in DataFrame for CLASSIFICATION
df3 = pd.DataFrame({'d': classifications_to_drop})

for a in application_df.CLASSIFICATION.index:
    for search in df3.d:
        if search in application_df.loc[a].CLASSIFICATION:
            application_df.drop(a, inplace=True)
            break  # so if we already dropped it we no longer look whether we should drop this line

In [10]:
application_df['CLASSIFICATION'].value_counts()

C1000    17081
C2000     6045
C1200     4836
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [11]:
# Finding data types in the DataFrame
types_list = application_df.dtypes
types_list

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

In [12]:
for item in types_list.index:
    if types_list[item] == 'int64':
        item
        types_list = types_list.drop(item)
types_list

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
dtype: object

In [13]:
# Convert categorical data to numeric with `pd.get_dummies`
application_df = pd.get_dummies(application_df, columns=types_list.index)
application_df

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,108590,1,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,1,0
2,1,5000,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
3,1,6692,1,0,0,1,0,0,0,0,...,0,1,0,0,0,0,0,0,1,0
4,1,142590,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34295,1,5000,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34296,1,5000,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34297,1,5000,1,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,1,0
34298,1,36500179,0,0,0,1,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0

In [14]:
# Split our preprocessed data into our features and target arrays
X = application_df.drop('IS_SUCCESSFUL', axis=1).values
y = application_df['IS_SUCCESSFUL'].values


# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42, stratify=y)

In [15]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [16]:
input_dimensions = X_train_scaled.shape[1]
input_dimensions

41

## Compile, Train and Evaluate the Model

In [18]:
!pip install keras-tuner==1.0.3

Collecting keras-tuner==1.0.3
  Downloading keras_tuner-1.0.3-py3-none-any.whl (96 kB)
     ---------------------------------------- 96.5/96.5 kB ? eta 0:00:00
Requirement already satisfied: packaging in c:\users\patri\anaconda3\lib\site-packages (from keras-tuner==1.0.3) (21.3)
Requirement already satisfied: requests in c:\users\patri\anaconda3\lib\site-packages (from keras-tuner==1.0.3) (2.28.1)
Requirement already satisfied: numpy in c:\users\patri\anaconda3\lib\site-packages (from keras-tuner==1.0.3) (1.21.5)
Requirement already satisfied: kt-legacy in c:\users\patri\anaconda3\lib\site-packages (from keras-tuner==1.0.3) (1.0.4)
Requirement already satisfied: scipy in c:\users\patri\anaconda3\lib\site-packages (from keras-tuner==1.0.3) (1.9.1)
Requirement already satisfied: tensorboard in c:\users\patri\anaconda3\lib\site-packages (from keras-tuner==1.0.3) (2.11.2)
Requirement already satisfied: ipython in c:\users\patri\anaconda3\lib\site-packages (from keras-tuner==1.0.3) (7.31.1)
Requirement already satisfied: matplotlib-inline in c:\users\patri\anaconda3\lib\site-packages (from ipython->keras-tuner==1.0.3) (0.1.6)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\patri\anaconda3\lib\site-packages (from ipython->keras-tuner==1.0.3) (3.0.20)
Requirement already satisfied: pygments in c:\users\patri\anaconda3\lib\site-packages (from ipython->keras-tuner==1.0.3) (2.11.2)
Requirement already satisfied: jedi>=0.16 in c:\users\patri\anaconda3\lib\site-packages (from ipython->keras-tuner==1.0.3) (0.18.1)
Requirement already satisfied: pickleshare in c:\users\patri\anaconda3\lib\site-packages (from ipython->keras-tuner==1.0.3) (0.7.5)
Requirement already satisfied: decorator in c:\users\patri\anaconda3\lib\site-packages (from ipython->keras-tuner==1.0.3) (5.1.1)
Requirement already satisfied: backcall in c:\users\patri\anaconda3\lib\site-packages (from ipython->keras-tuner==1.0.3) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\patri\anaconda3\lib\site-packages (from ipython->keras-tuner==1.0.3) (63.4.1)
Requirement already satisfied: traitlets>=4.2 in c:\users\patri\anaconda3\lib\site-packages (from ipython->keras-tuner==1.0.3) (5.1.1)
Requirement already satisfied: colorama in c:\users\patri\anaconda3\lib\site-packages (from ipython->keras-tuner==1.0.3) (0.4.5)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\patri\anaconda3\lib\site-packages (from packaging->keras-tuner==1.0.3) (3.0.9)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\patri\anaconda3\lib\site-packages (from requests->keras-tuner==1.0.3) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\patri\anaconda3\lib\site-packages (from requests->keras-tuner==1.0.3) (2022.9.14)
Requirement already satisfied: idna<4,>=2.5 in c:\users\patri\anaconda3\lib\site-packages (from requests->keras-tuner==1.0.3) (3.3)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\patri\anaconda3\lib\site-packages (from requests->keras-tuner==1.0.3) (1.26.11)
Requirement already satisfied: wheel>=0.26 in c:\users\patri\anaconda3\lib\site-packages (from tensorboard->keras-tuner==1.0.3) (0.37.1)
Requirement already satisfied: markdown>=2.6.8 in c:\users\patri\anaconda3\lib\site-packages (from tensorboard->keras-tuner==1.0.3) (3.3.4)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in c:\users\patri\anaconda3\lib\site-packages (from tensorboard->keras-tuner==1.0.3) (1.8.1)
Requirement already satisfied: grpcio>=1.24.3 in c:\users\patri\anaconda3\lib\site-packages (from tensorboard->keras-tuner==1.0.3) (1.51.1)
Requirement already satisfied: google-auth<3,>=1.6.3 in c:\users\patri\anaconda3\lib\site-packages (from tensorboard->keras-tuner==1.0.3) (2.16.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in c:\users\patri\anaconda3\lib\site-packages (from tensorboard->keras-tuner==1.0.3) (0.4.6)
Requirement already satisfied: werkzeug>=1.0.1 in c:\users\patri\anaconda3\lib\site-packages (from tensorboard->keras-tuner==1.0.3) (2.0.3)
Requirement already satisfied: absl-py>=0.4 in c:\users\patri\anaconda3\lib\site-packages (from tensorboard->keras-tuner==1.0.3) (1.4.0)
Requirement already satisfied: protobuf<4,>=3.9.2 in c:\users\patri\anaconda3\lib\site-packages (from tensorboard->keras-tuner==1.0.3) (3.19.6)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in c:\users\patri\anaconda3\lib\site-packages (from tensorboard->keras-tuner==1.0.3) (0.6.1)
Requirement already satisfied: six>=1.9.0 in c:\users\patri\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner==1.0.3) (1.16.0)
Requirement already satisfied: rsa<5,>=3.1.4 in c:\users\patri\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner==1.0.3) (4.9)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in c:\users\patri\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner==1.0.3) (5.3.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in c:\users\patri\anaconda3\lib\site-packages (from google-auth<3,>=1.6.3->tensorboard->keras-tuner==1.0.3) (0.2.8)
Requirement already satisfied: requests-oauthlib>=0.7.0 in c:\users\patri\anaconda3\lib\site-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner==1.0.3) (1.3.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\patri\anaconda3\lib\site-packages (from jedi>=0.16->ipython->keras-tuner==1.0.3) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\patri\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->keras-tuner==1.0.3) (0.2.5)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in c:\users\patri\anaconda3\lib\site-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard->keras-tuner==1.0.3) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in c:\users\patri\anaconda3\lib\site-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard->keras-tuner==1.0.3) (3.2.2)
Installing collected packages: keras-tuner
  Attempting uninstall: keras-tuner
    Found existing installation: keras-tuner 1.2.0
    Uninstalling keras-tuner-1.2.0:
      Successfully uninstalled keras-tuner-1.2.0
Successfully installed keras-tuner-1.0.3

In [21]:
# Create a method that creates a new Sequential model with hyperparameter options
def create_model(hp):
    nn_model = tf.keras.models.Sequential()

    # Allow kerastuner to decide which activation function to use in hidden layers
    activation = hp.Choice('activation',['relu','tanh','sigmoid'])
    
    # Allow kerastuner to decide number of neurons in first layer
    nn_model.add(tf.keras.layers.Dense(units=hp.Int('first_units',
        min_value=1,
        max_value=10,
        step=2), activation=activation, input_dim=2))

    # Allow kerastuner to decide number of hidden layers and neurons in hidden layers
    for i in range(hp.Int('num_layers', 1, 6)):
        nn_model.add(tf.keras.layers.Dense(units=hp.Int('units_' + str(i),
            min_value=1,
            max_value=10,
            step=2),
            activation=activation))
    
    nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

    # Compile the model
    nn_model.compile(loss="binary_crossentropy", optimizer='adam', metrics=["accuracy"])
    
    return nn_model

In [25]:
# Import the kerastuner library
import keras_tuner as kt

tuner = kt.Hyperband(
    create_model,
    objective="val_accuracy",
    max_epochs=20,
    hyperband_iterations=2)

INFO:tensorflow:Reloading Oracle from existing project .\untitled_project\oracle.json

ValueError: `sampling` can only be set on an `Int` when `step=1`.

In [ ]:
# Run the kerastuner search for best hyperparameters
tuner.search(X_train_scaled,y_train,epochs=20,validation_data=(X_test_scaled,y_test))